@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
:root {--maincolor:#4b0000; --lightmain:#d03333; --mainfont: Lora,serif;}

/*=======================*/


body {width: 100%; vertical-align: middle;
   background-color: transparent;font-family:  var(--mainfont); font-size:12pt;
   opacity: 0.88; margin:0px 0px 0px 0px; padding:50px 0px 0px 0px;}

/*Inspired by and mostly based off of Unity858 (GH)/Crazyeyemoody (AoPS)*/

#particles-js{ 
    position:absolute; 
    width: 100%; height: 100%; 
    background-color: #fcf5e5; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; }
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    color: rgb(255, 255, 255);
  }
div#page-wrapper{height: auto; margin:auto; width:100%; max-width:1100px; background-color:white;
    display:flex; justify-content:center;}

/* navbar */
div#navbar {background-color: var(--lightmain);
    transition: all 0.5s; -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; -o-transition: all 0.5s;
    box-shadow: 0px 0px 10px 0px #dddddd; padding: 15px; 
    width:100%; max-width:1100px;
    position: fixed; top: 0px; z-index: 5; margin-top:10px; border-radius:7px;}
#navbar a {font-size:20px; font-family: var(--mainfont); 
    color:var(--maincolor); margin-left:10px; margin-right:10px;}
#navbar-left {font-size:15px; font-family: var(--mainfont); color: var(--maincolor);}
#navbar-right {margin-left:60%; font-size:15px; font-family: var(--mainfont);
    color: var(--maincolor); text-align:right;}

/* default */
div#content {padding:40px; background-color:transparent; display:block; width:100%;}


h1,h2,h3 {color:var(--maincolor);}

a:link {color: var(--maincolor);text-decoration:none;}
a:hover {color: var(--maincolor);text-shadow: 0 0 1px var(--maincolor);}
a:active {color: var(--maincolor); background-color: var(--lightmain); text-decoration: none;}
a:visited {color: var(--maincolor);}

block {padding:5px 10px 5px 10px;
    border: 3px solid var(--maincolor); border-width: 0px 0px 0px 4px;
    display:block; background-color: var(--lightmain);width:99%;
    margin:5px 0px 5px 0px;}
div#quote{display:block; margin-left:20%; margin-right:20%;margin-top:10px;
    margin-bottom:10px; position:relative;}
.hidden {display: none!important;}

/*inline text formatting shortcuts*/
ch {display: inline; font-family: Noto, serif; font-size:12pt;} /*chinese*/
i {font-style: italic;}
b {font-weight:500;}
cap { display:block;text-align: center; font-size:12pt;} /*caption*/

/* copied from dchenmathcounts*/
div.fancy-links {list-style-type: none;padding: 0;display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));}
div.fancy-links block {width:90%; padding:10px;border: 2.5px solid var(--maincolor); background-color: var(--lightmain);
    border-width: 2px; border-radius:5px;margin:5px;}
div.fancy-links a {display:block; font-size:14pt;}
a#footnote-back {margin-left: 0.4rem;}
li {margin-top:5px;margin-bottom:5px;}